  .card {
      position: relative;
      border: 1px solid #ccc;
      border-radius: 18px;
      overflow: hidden;
      margin: 115px;
      width: 150px;
      height: 300px; /* Altura fija para mantener el tamaño */
      background-color: #f9f9f9;
      transition: transform 0.3s ease;
      float: left;
     padding: 200px;
      justify-content: center;
     
      
      
    }
    .card:hover {
      transform: scale(1.10); /* Efecto de escala al pasar el ratón */
    }
    .card .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0; /* Inicialmente transparente */
      transition: opacity 0.3s ease;
    }
    .card:hover .overlay {
      opacity: 1; /* Mostrar overlay al pasar el ratón */
    }
    .card img {
      max-width: 100%;
      height: auto;
      display: block;
      transition: opacity 0.3s ease;
    }
    .card:hover img {
      opacity: 1; /* Mostrar imagen al pasar el ratón */
    }
    .card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      text-align: center;
      color: #fff;
       
    }
    .card h2 {
      font-size: 1.5em;
      margin-bottom: 8px;
      
    }
    .card p {
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 0;
    }


footer{
    background-color: black;
}

